<header>
  <h2><a href="/">Tech Blog App</a></h2>
  <nav>
    <% if(user){ %>
    <a href="/create-post">create post</a>
    <a href="/logout">logout</a>
    <% }else{ %>
    <a href="/login">LogIn</a>
    <%} %>
  </nav>
</header>
