<!DOCTYPE html>
<html lang="en">
  <!-- includes other ejs file (older version) -->
  <%- include("includes/head") %>
  <body>
    <!-- includes other ejs file (older version) -->
    <%- include("includes/header") %>

    <main>
      <form action="/create-post" method="post">
        <% errors.forEach(err => { %>
        <p class="notice"><%= err %></p>
        <% }); %>

        <fieldset>
          <legend>Create a new post</legend>
          <label for="title"><small>Title</small></label>
          <input type="text" id="title" name="title" autocomplete="off" />

          <label for="body"><small>Content</small></label>
          <textarea name="content" id="body"></textarea>
          <br />
          <button type="submit">Save Post</button>
        </fieldset>
      </form>
    </main>
    <!-- includes other ejs file (older version) -->
    <%- include("includes/footer") %>
  </body>
</html>
